<template>
  <section
    class="sticky top-0 z-20 flex items-center w-full nav-bar-menu bg-white"
  >
    <div class="container mx-auto px-6 flex items-center justify-between">
      <div class="flex items-center" />
      <div
        class="
          text-gray-800
          dark:text-white
          font-black
          flex
          items-center
        "
      >
        <span class="ml-3 mt-1 login-button">
          Login
        </span>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "NavBar",
};
</script>
