@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/*Page component */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
/*Layout Transition*/
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.nuxt-link-active {
  @apply text-gray-800 border-red-600 ;
}

.font-normal {
  font-family: 'Lato', sans-serif;
}

.login-button {
  font-size: 17px;
  line-height: 17px;
  color: #319795;
  cursor: pointer;
}

.nav-bar-menu {
  height: 67px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  border-top: 5px solid #3182CE;
}

.gradient-background {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  padding-top: 18px;
  top: -12px;
}

.banner-title {
  text-align: center;
  letter-spacing: 1.26px;
  color: #2D3748;
  opacity: 1;
  font-size: 50px;
  line-height: 50px;
}

.register-button-wrapper {
  padding: 24px 20px 64px 20px;
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 3px #00000033;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
  position: relative;
  top: -20px;
  border-bottom: 1px solid #CBD5E0;
}

.register-button {
  background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
  border-radius: 12px;
  padding: 12px 0;
  letter-spacing: 0.84px;
  color: #E6FFFA;
  opacity: 1;
  font-size: 17px;
  line-height: 17px;
  cursor: pointer;
}

.main-content {
  top: -32px;
  background: #FFFFFF;
  padding: 25px 20px 60px 20px;
}

.toggle-buttons {

}

.toggle-button {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #CBD5E0;
  padding: 12px 0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.84px;
  color: #319795;
  opacity: 1;
}

.first-button {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: none;
}

.last-button {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-left: none;
}

.currently-active {
  background: #81E6D9 0% 0% no-repeat padding-box;
  color: #FFFFFF;
}

.content-title {
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #4A5568;
  opacity: 1;
}

.light-gray-circle {
  width: 200px;
  height: 200px;
  background: #F7FAFC;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 1;
  bottom: -40px;
  left: -40px;
}

.big-circle {
  width: 300px;
  height: 300px;
  opacity: 1;
  top: -40px;
  left: -90px;
}

.block-number-indicator {
  text-align: center;
  font-size: 110px;
  letter-spacing: 0px;
  line-height: 40px;
  color: #718096;
  opacity: 1;
}

.block-text {
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.47px;
  color: #718096;
  opacity: 1;
}

.block-two {
  /*background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;*/
  background: transparent linear-gradient(134deg, #E6FFFA 0%, #e8fafc 100%) 0% 0% no-repeat padding-box;
  width: calc(100% + 40px) !important;
  position: relative;
  left: -20px;
}

.block-two .block-number-indicator{
  line-height: 130px  ;
}

.top-wave {
  top: -45px;
}

.bottom-wave {
  bottom: -45px;
}
