<template>
  <main
    class="
      font-normal
      dark:bg-gray-800
      bg-white
      relative
      h-screen
      overflow-auto overflow-y-scroll
    "
  >
    <NavBar></NavBar>
    <nuxt />
  </main>
</template>
<script>
import NavBar from "../components/NavBar/nav-bar";
export default {
  components: { NavBar },
};
</script>
