<template>
  <div class="flex relative items-center">
    <div class="w-full flex flex-col justify-between items-center relative">
      <div class="flex flex-col w-full gradient-background relative">
        <div class="mx-auto banner-title">Deine Job website</div>
        <img
          src="~/assets/images/agreement.svg"
          class="mx-auto w-full"
          alt="agreement image"
        />
        <div class="w-full register-button-wrapper">
          <button class="w-full register-button">Kostenlos Registrieren</button>
        </div>
      </div>

      <div class="flex flex-col w-full relative main-content">
        <div class="toggle-buttons w-full flex flex-row">
          <div
            class="w-1/3 toggle-button first-button"
            :class="isActive === 0 ? 'currently-active' : ''"
            @click="setActive(0)"
          >
            Arbeitnehmer
          </div>
          <div
            class="w-1/3 toggle-button second-button"
            :class="isActive === 1 ? 'currently-active' : ''"
            @click="setActive(1)"
          >
            Arbeitgeber
          </div>
          <div
            class="w-1/3 toggle-button last-button"
            :class="isActive === 2 ? 'currently-active' : ''"
            @click="setActive(2)"
          >
            Temporärbüro
          </div>
        </div>

        <div v-if="isActive === 0">
          <div class="content-title w-8/12 mx-auto pt-6">Drei einfache Schritte zu deinem neuen Job</div>
          <div class="w-full block-one relative py-5">
            <div class="light-gray-circle absolute" />
            <img
              src="~/assets/images/1-1.svg"
              alt="1.1"
              class="mx-auto relative z-10"
            />

            <div class="w-full relative block-content z-10">
              <span class="block-number-indicator">1.</span>
              <span class="block-text ml-3">Erstellen dein Lebenslauf</span>
            </div>
          </div>

          <div class="w-full block-two mt-16 z-10 pb-8 relative">
            <img src="~/assets/images/top-wave.png" class="top-wave w-full absolute" alt="top-wave" />
            <img src="~/assets/images/bottom-wave.png" class="bottom-wave w-full absolute" alt="bottom-wave" />
            <div class="w-full bottom-wave" />
            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">2.</span>
              <span class="block-text ml-3">Erstellen dein Lebenslauf</span>
            </div>

            <img
              src="~/assets/images/1-2.svg"
              alt="1.2"
              class="mx-auto relative z-10"
            />
          </div>

          <div class="w-full block-three pt-20 relative">
            <div class="light-gray-circle absolute big-circle" />

            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">3.</span>
              <span class="block-text ml-3">Mit nur einem Klick bewerben</span>
            </div>

            <img
              src="~/assets/images/1-3.svg"
              alt="1.3"
              class="mx-auto relative z-10"
            />
          </div>
        </div>

        <div v-if="isActive === 1">
          <div class="content-title w-6/12 mx-auto pt-6">Drei einfache Schritte zu deinem neuen Mitarbeiter</div>
          <div class="w-full block-one relative py-5">
            <div class="light-gray-circle absolute" />
            <img
              src="~/assets/images/1-1.svg"
              alt="1.1"
              class="mx-auto relative z-10"
            />

            <div class="w-full relative block-content z-10">
              <span class="block-number-indicator">1.</span>
              <span class="block-text ml-3">Erstellen dein Unternehmensprofil</span>
            </div>
          </div>

          <div class="w-full block-two mt-16 z-10 pb-8 relative">
            <img src="~/assets/images/top-wave.png" class="top-wave w-full absolute" alt="top-wave" />
            <img src="~/assets/images/bottom-wave.png" class="bottom-wave w-full absolute" alt="bottom-wave" />
            <div class="w-full bottom-wave" />
            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">2.</span>
              <span class="block-text ml-3">Erstellen ein Jobinserat</span>
            </div>

            <img
              src="~/assets/images/2-2.svg"
              alt="2.2"
              class="mx-auto relative z-10"
            />
          </div>

          <div class="w-full block-three pt-20 relative">
            <div class="light-gray-circle absolute big-circle" />

            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">3.</span>
              <span class="block-text ml-3">Wähle deinen neuen Mitarbeiter aus</span>
            </div>

            <img
              src="~/assets/images/2-3.svg"
              alt="2.3"
              class="mx-auto relative z-10 mt-5"
            />
          </div>
        </div>

        <div v-if="isActive === 2">
          <div class="content-title w-9/12 mx-auto pt-6">Drei einfache Schritte zur Vermittlung neuer Mitarbeiter</div>
          <div class="w-full block-one relative py-5">
            <div class="light-gray-circle absolute" />
            <img
              src="~/assets/images/1-1.svg"
              alt="1.1"
              class="mx-auto relative z-10"
            />

            <div class="w-full relative block-content z-10">
              <span class="block-number-indicator">1.</span>
              <span class="block-text ml-3">Erstellen dein Unternehmensprofil</span>
            </div>
          </div>

          <div class="w-full block-two mt-16 z-10 pb-8 relative">
            <img src="~/assets/images/top-wave.png" class="top-wave w-full absolute" alt="top-wave" />
            <img src="~/assets/images/bottom-wave.png" class="bottom-wave w-full absolute" alt="bottom-wave" />
            <div class="w-full bottom-wave" />
            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">2.</span>
              <span class="block-text ml-3">Erhalte Vermittlungs- angebot von Arbeitgeber</span>
            </div>

            <img
              src="~/assets/images/3-2.svg"
              alt="3.2"
              class="mx-auto relative z-10"
            />
          </div>

          <div class="w-full block-three pt-20 relative">
            <div class="light-gray-circle absolute big-circle" />

            <div class="relative block-content z-10 ml-12">
              <span class="block-number-indicator">3.</span>
              <span class="block-text ml-3">Vermittlung nach Provision oder Stundenlohn</span>
            </div>

            <img
              src="~/assets/images/3-3.svg"
              alt="3.3"
              class="mx-auto relative z-10 mt-5"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "guest",
  data() {
    return {
      logging: false,
      username: "",
      password: "",
      errorMsg: "",
      isSuccess: false,
      ifError: false,
      isActive: 0,
    };
  },
  methods: {
    showLogin() {
      this.$modal.show("login");
    },
    setActive(value) {
      this.isActive = value;
    },
    async login() {
      this.$modal.hide("login");
      this.logging = true;
      try {
        const response = await this.$auth.loginWith("local", {
          data: {
            username: this.username,
            password: this.password,
          },
        });
        await this.$auth.setUser(response.data.user);
        await this.$router.push("/dashboard");
        this.logging = false;
        this.username = "";
        this.password = "";
      } catch (e) {
        this.logging = false;
        this.$modal.show("login");
        this.ifError = true;
        this.errorMsg = e.response.data.message;
      }
    },
  },
};
</script>
